[submodule "bp-core"]
	path = bp-core
	url = git@github.com:RGB-Tools/bp-core.git
	shallow = true
[submodule "client_side_validation"]
	path = client_side_validation
	url = git@github.com:RGB-Tools/client_side_validation.git
	shallow = true
[submodule "rgb-core"]
	path = rgb-core
	url = git@github.com:RGB-Tools/rgb-core.git
	shallow = true
[submodule "rgb-node"]
	path = rgb-node
	url = git@github.com:RGB-Tools/rgb-node.git
	shallow = true
[submodule "rust-rgb20"]
	path = rust-rgb20
	url = git@github.com:RGB-Tools/rust-rgb20.git
	shallow = true
[submodule "rust-lightning"]
	path = rust-lightning
	url = git@github.com:RGB-Tools/rust-lightning.git
	shallow = true
