[submodule "client_side_validation"]
	path = client_side_validation
	url = git@github.com:RGB-Tools/client_side_validation.git
	shallow = true
[submodule "rust-lightning"]
	path = rust-lightning
	url = git@github.com:RGB-Tools/rust-lightning.git
	shallow = true
[submodule "rgb-wallet"]
	path = rgb-wallet
	url = git@github.com:RGB-Tools/rgb-wallet.git
	shallow = true
